<h1 class="center">Welcome to Travel Tracker!</h1>

<% if notice %>
  <p><%= notice %></p>
<% end %>

<div class="flex">
  <div class="col-6 p2 center">
    <h2>Most visited city: <%= @most_visited_city.name %> | <%=  @most_visited_city.times_visited %> visits</h2>
  </div>
  <div class="col-6 p2 center">
    <h2>Highest ranked city: <%=  @most_popular_city.name %> | <%= @most_popular_city.overall_rating %> stars </h2>
  </div>
</div>

<div class="flex">
  <div class="col-6 p2 container border">
    <h2 class="center">Active Users:</h2>

    <% @users.each do |user| %>
      <h3><%= link_to user.name, user_path(user) %></h3>
      <label>Places <%= user.name %> visited:</label>
      <ul>
        <% user.cities.rated.each do |city|%>
          <%= render :partial => "countries/rankedcities", :locals => {:city => city}%>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="col-6 border p2 container" id="comment-container">
  </div>
</div>