<h1>Places <%= @user.name%> has visited!</h1>

<ul>
<% @visits.each do |visit| %>
  <li>
  <%= image_tag visit.avatar.url(:thumb)%>
  <%= link_to visit.city.name, city_path(visit.city) %> |
  <%= link_to visit.city.country.name, country_path(visit.city.country)%> |
  <%= visit.city_rating %> stars |
  <%= link_to "Delete", [@user,visit], method: :delete %>
  </li><br>
<% end %>
</ul>
