<h2>Add a visit to your travel log!</h2>
<h4>Choose from a city below:</h4><br>

  City Name:



<h4>Or enter a new city:</h4>
  <%= form_for :visit do |f| %>
  City Name: <%= f.text_field :name %> <br><br>
  Existing Country:  <%= f.select(:country_id) do %>
      <% @countries.each do |c|%>
        <%= content_tag(:option, c.name, value: c.id)%>
      <% end %>
    <% end %>
  New Country: <%= f.text_field :country %>
  <br><br>
  <%= f.submit "Save" %>
  <% end %>