<h2 class="p2">Add a visit to your travel log!</h2>
<div>
<% if notice %>
  <p><%= notice %></p>
<% end %>
</div>

<div class="clearfix ">
  <div class="left  ml2 p2 col-4">
    <h3>Choose from a city below:</h3>

    <%= form_for @visit, url: "/users/#{@user.id}/visits" do |f| %>
      <%= f.hidden_field :user_id, value: @user.id %>

      City Name: <%= f.collection_select(:city_id, City.all, :id, :name_with_country, {prompt:true})  %>
  </div>

  <div class="right  mr4 p2 col-6">
    <h3>Or enter a new city:</h3>
    <%= f.fields_for :city_attributes do |city_fields|%>
    City Name: <%= city_fields.text_field :name %> <br><br>
      Existing Country:  <%= city_fields.collection_select(:country_id, Country.all, :id, :name, {prompt:true}) %>
      OR New Country: <%= city_fields.text_field :country %>
    <%end%>
  </div>
</div>
  <br>
  <div class="ml2 p2 border-top">
    <h3>Rate your visit:</h3>
    Rate your visit on a scale from 1-5 (5 being the best): <%= f.number_field :city_rating, min:1, max:5 %>

    <br><br>
    <%= f.submit "Save" %>
  </div>
<% end %>
