<h2>Add a visit to your travel log!</h2>
<h4>Choose from a city below:</h4><br>

<%= form_for :visit, url: "/users/#{@user.id}/visits" do |f| %>
  <%= f.fields_for :city_attributes do |city_fields|%>
    City Name: <%= city_fields.select(:city_id) do %>
      <%= @cities.each do |c|%>
        <%= content_tag(:option, c.name, value: c.id)%>
      <% end %>
    <%end%>



<h4>Or enter a new city:</h4>




  City Name: <%= city_fields.text_field :name %> <br><br>
  Existing Country:  <%= city_fields.select(:country_id) do %>
      <% @countries.each do |c|%>
        <%= content_tag(:option, c.name, value: c.id)%>
      <% end %>
    <% end %>
  New Country: <%= city_fields.text_field :country %>
  <%end%>
  <br><br>
  Rate your visit on a scale from 1-5 (5 being the best): <%= f.number_field :city_rating, min:1, max:5 %>
  <br><br>
  <%= f.submit "Save" %>
  <% end %>