<h2>Sign Up Below</h2>
<%= form_for :user, url: '/users' do |f| %>
Username: <%= f.text_field :username %> <br><br>
Name: <%= f.text_field :name %> <br><br>
Password: <%= f.password_field :password %> <br><br>
Password Confirmation: <%= f.password_field :password_confirmation %> <br><br>
<%= f.submit "Sign Up" %>
<% end %>

<h3>Or <%= link_to("Log in with Facebook!", '/auth/facebook') %></h3>