<% if @country.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@country.errors.count, "error") %>
      prohibited this visit from being saved:
    </h2>

    <ul>
    <% @country.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @country do |f| %>
  Country Name: <%= f.text_field :name %> <br><br>
  <%= f.submit "Save" %>
<% end %>