<nav>
  <%= link_to "Home", root_path %>
  <% if current_user.nil? %>
    <%= link_to "Log In", login_path %>
    <%= link_to "Sign Up", signup_path %>
  <% else %>
    <%= link_to "#{current_user.name}'s Travel Log", user_path(current_user) %>
    <%= link_to "Add a Visit", new_user_visit_path(current_user) %>
    <%= link_to "View Countries", cities_path %>
    <%= link_to "Add a Country", new_country_path %>
    <%= link_to "View Cities", cities_path %>
    <%= link_to "Add a City", new_city_path %>

    <%= link_to "Log Out", logout_path, method: 'delete' %>
  <% end %>
</nav>