<!DOCTYPE html>
<html>
  <head>
    <title>TravelLog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/header'%>
    <%= yield %>
  </body>
</html>
